<% if @comments.present? %>

<table>
    <tr>
       <th>Id</th>
       <th>Comments</th>
    </tr>

  <% @product.comments.each do |comment|%>
    <tr>
      <td><%= comment.id %></td>
        <td><%= comment.comment %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <h4>the is no comment for this product </h4>
  <p>go to Home</p>

<% end %>
